<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3 dn db-ns" role="contentinfo">
  
  <div class="flex justify-between items-center">
    
    <a class="f4 fw4 hover-white white-70 no-underline" href="{{ .Site.Home.Permalink }}" >
      &copy; {{ with .Site.Copyright | compare.Default .Site.Title }} {{ . | safe.HTML }} {{ now.Format "2006"}} {{ end }}
    </a>

    <div class="flex items-center f7 white-50">
      
      <a href="{{ "impressum" | relURL }}" class="link white-50 hover-white mr3">Impressum</a>
      <a href="{{ "datenschutz" | relURL }}" class="link white-50 hover-white mr3">Datenschutz</a>

      <span class="mr3 tr">
        Karte: &copy; <a href="https://www.openstreetmap.org/copyright" class="link white-50 underline">OSM</a>
      </span>

      <div>{{ partials.IncludeCached "social/follow.html" . }}</div>
      
    </div>

  </div>
</footer>